  @for(dish of dishes; track dish){
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> {{dish.name }} </mat-panel-title>
          <img [src]="dishImageMap[dish.name] || 'assets/starters-icon.png'" />
        </mat-expansion-panel-header>
        @for(item of dish.menuItems; track item) {
          <div class="text-wrapper">
            <p> {{item.name}}</p>
            <p> R{{item.price}}</p>
          </div>

        }
      </mat-expansion-panel>
    </mat-accordion>
  }
